<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucca.apae_torres">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
       android:icon="@mipmap/icon_doeamor_app"
        android:allowBackup="true"
        android:label="APAE Torres"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Firebase.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.FirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/icon_doeamor_app" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIiCQ3WP6JKmXyhIr4QZkKPDF00FuxWZ0" />

        <activity
            android:name=".views.PartnersActivity"
            android:parentActivityName=".views.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CategoryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.Detail"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.PartnersActivity">
        </activity>
    </application>

</manifest>